
<div class="panel panel-info">
    <div class="row multi_head">
        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 addPsition">
            <div  class="add" ui-sref="addExpert">
                <div>
                    <img src="../img/plus.png" height="25" />
                </div>
                <div class="li_addExpert"  >
                    <a  >添加专家</a>
                </div>

            </div>
        </div>
        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 multi_head_font">
            专 家 列 表
        </div>
    </div>
    <div class="panel-heading multi_content_head">
        <div class="row">
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">专家名</div>
            <div  class="col-sm-3 col-xs-3 col-md-3 col-lg-3 ">联系方式</div>
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 ">公司</div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 text-center">操作</div>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
        </div>
    </div>
    <div class="panel-body multi_content" ng-repeat="e in itemx[curpage]">
        <div class="row " >
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2" ng-bind="e.name"></div>
            <div  class="col-sm-3 col-xs-3 col-md-3 col-lg-3 " ng-bind="e.phonenum"></div>
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 " ng-bind="e.company"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right"> <a ng-click="deleteExpert(e.phonenum)">删除</a></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a ng-click="exchange(e.phonenum)">设为普通用户</a></div>

        </div>
    </div>

    <div class="panel-body ">
        <div class="row page_row">
            <div class="col-lg-12 text-right">
                <do-page>
                </do-page>
            </div>
        </div>
    </div>

    <!--模态框-->

    <!-- The Modal -->
    <div id="myModal" class="modal1">
        <div id="caption" style="color: red;font-size: 1.5em"></div>
    </div>


</div>

